<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.homeworks.spring.spring_framework.dao.CsvFileQuestionDaoImpl" >
        <constructor-arg name="fileName" value="/questions.csv"/>
        <constructor-arg name="separator" value=";" />
    </bean>

    <bean id="accountService" class="ru.otus.homeworks.spring.spring_framework.service.AccountServiceConsoleImpl" />

    <bean id="quizProducerService" class="ru.otus.homeworks.spring.spring_framework.service.QuizProducerServiceImpl" >
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="questionsPerQuiz" value="5"/>
    </bean>

    <bean id="quizProviderService" class="ru.otus.homeworks.spring.spring_framework.service.QuizProviderServiceConsoleImpl" />

    <bean id="scoreCalculatorService" class="ru.otus.homeworks.spring.spring_framework.service.ScoreCalculatorServiceImpl" />

    <bean id="scorePresentationService" class="ru.otus.homeworks.spring.spring_framework.service.ScorePresentationServiceConsoleImpl" />

    <bean id="quizLifecycleService" class="ru.otus.homeworks.spring.spring_framework.service.QuizLifecycleServiceImpl" >
        <constructor-arg name="accountService" ref="accountService"/>
        <constructor-arg name="quizProducerService" ref="quizProducerService"/>
        <constructor-arg name="quizProviderService" ref="quizProviderService"/>
        <constructor-arg name="scoreCalculatorService" ref="scoreCalculatorService"/>
        <constructor-arg name="scorePresentationService" ref="scorePresentationService"/>
    </bean>
</beans>
