<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personDao" class="ru.otus.homeworks.spring.spring_framework.dao.CsvFileLibraryDaoImpl" >
        <constructor-arg name="csvFileName" value="/questions.csv" />
    </bean>

    <bean class="ru.otus.homeworks.spring.spring_framework.service.LibraryServiceImpl" >
        <constructor-arg name="libraryDao" ref="personDao" />
    </bean>
</beans>
